@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/*
|| SPACING SYSTEM (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

|| FONT SIZE SYSTEM (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

:root {
    --mainColor: #1c7ed6;
    --white: #fff;
    --black: #121212;
    --grayBackground: #f2f2f7;
    --iconTopBar: #000;
    --grayBorder: #d9d9d9;
    --tester: #353535;
    --borderCards: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--grayBackground);
    color: var(--black);
    font-family: 'Inter', sans-serif;
}



/* SECTION HEY EXPLORER */
.header-message-welcome {
    background-color: var(--grayBackground);
    display: inline-block;
    width: 100%;
    height: 50rem;
    text-align: center;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-welcome-h1 {
    font-size: 7.5rem;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
}

.gradient-text,
.message-welcome-h1 {
    background: linear-gradient(180deg, var(--mainColor)20%, var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message-welcome-h1 p {
    margin-top: -10px;
    font-size: 4.3rem;
}



/* SECTION WELCOME */
.section-welcome {
    width: 100%;
    margin: 100px auto 250px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.section-welcome-container {
    width: 21rem;
}

.section-welcome-container h1 {
    font-size: 2.75rem;
    line-height: 1.1;
    letter-spacing: -1px;
}


.title-transition {
    opacity: 0.1;
    transition: all 3.6s;
}

.word-transition {
    opacity: 0.3;
    transition: all 2.2s;
}

.section-welcome-container p {
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.7;
}

.wrapperBtn {
    margin-top: 1.55rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-see-cards:link,
.btn-see-cards:visited {    
    display: inline-block; /* to add margin at the top and bottom */
    margin-bottom: -1rem;
    background: linear-gradient(    
                to top left, var(--mainColor) 20%, rgb(180, 205, 237));
    box-shadow: 0px 5px 8px 3px rgba(54, 128, 197, 0.25);
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 12px 45px;
    border-radius: 12px;
}

.btn-see-cards:hover {
    cursor: pointer;
    background: linear-gradient(to top left, #2285db 20%, rgb(180, 205, 237));
    box-shadow: 0px 5px 8px 2px rgba(54, 128, 197, 0.27);
}








/* SECTION CARDS & EXAMPLE CARD */

.section-example-card {
    margin-top: 20rem;
    width: 100%;
    height: 47rem;
    padding-top: 48px;
    background-color: black;
}

.section-example-card h2 {
    /* Titles per section */
    text-align: center;
    background: linear-gradient(180deg, var(--mainColor), black 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    /* Title cards */
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: -20px;
}

.cards {
    margin-top: 10px;
    display: grid;
    grid-gap: 0 3.2rem;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-auto-flow: dense;
    justify-items: center;
}

.card {
    margin: 1.8rem 0;
    padding: 18px;
    width: 21rem;
    height: 31.2rem;
    background-color: var(--white);
    border: 1px solid var(--borderCards);
    border-radius: 12px;
    box-shadow: 0 10px 12px 8px rgba(0, 0, 0, 0.032);
    color: var(--black);
    overflow-x: hidden;
}

.card-example {
    margin-top: 2.4rem;
    padding: 18px;
    display: block;
    width: 21rem;
    height: 32rem;
    background-color: var(--black);
    border-radius: 22px;
    border: solid 2px #3b3b3b;
    color: var(--white);
}

.card h4 {
    font-size: 1.15rem;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
}

.card h1 {
    font-size: 2.7rem;
    letter-spacing: -1.2px;
    text-align: center;
    background: linear-gradient(180deg, var(--mainColor)45%, var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0 40px 0;
}

ul li {
    margin: 45px 30px 10px 30px;
    list-style: none;
}

.list-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-icon {
    stroke: var(--mainColor);
    width: 24px;
    height: 24px;
}

li p {
    font-size: 1rem;
    font-weight: 400;
    display: inline;
    line-height: 1.5;
}



/* SECTION FEATURES */
.section-features {
    background-color: var(--grayBackground);
    width: 90%;
    margin: 200px auto 150px auto;
    text-align: center;
}

.section-features-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
}

.section-features h2 {
    grid-column: 1/-1;
    color: var(--black);
    font-size: 2.75rem;
    text-align: center;
    letter-spacing: -1px;
}

.feature {
    background-color: var(--white);
    margin-top: 25px;
    padding: 0 20px;
    height: 11rem;
    width: 15rem;
    text-align: center;
    color: var(--mainColor);
    border-radius: 12px;
    border: solid 1px var(--grayBorder);
}

.feature h3 {
    color: var(--black);
    margin: 10px 0 1px 0;
    letter-spacing: -.5px;
}

.feature p {
    color: var(--black);
    line-height: 1.5;
}

.icon-features {
    margin-top: 20px;
    stroke: var(--mainColor);
    width: 28px;
    height: 28px;
}





/* SECTION BUTTON GO TO LEARN*/
.section-btn-sections {
    margin: -45px auto 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-go-sections-page:link,
.btn-go-sections-page:visited {
    display: flex;
    /* to add margin at the top and bottom */
    align-items: center;
    background: linear-gradient(to top left, var(--mainColor) 20%, rgb(180, 205, 237));
    box-shadow: 0px 5px 8px 2px rgba(54, 128, 197, 0.35);
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    padding: 12px 25px;
    border-radius: 12px;
}

.btn-go-sections-page:hover {
    cursor: pointer;
    background: linear-gradient(to top left, #2285db 20%, rgb(180, 205, 237));
    box-shadow: 0px 5px 8px 2px rgba(54, 128, 197, 0.37);
}







/* SECTION SECTIONS */

.header-sections {
    width: 85%;
    margin: 6rem auto 0 auto;
    background-color: var(--grayBackground);
    text-align:center;
    color: var(--black);
    font-size: 2rem;
    line-height: .9;
    letter-spacing: -1.3px;
    user-select: none;
}

.header-sections h1 {
    background: linear-gradient(180deg, var(--mainColor)25%, var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-container-sections {
    width: 95%;
    height:auto;
    margin: .3rem auto 15rem auto;
}

.wrapper-cards-sections {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    margin: 5px 0;
}

.cards-sections {
    margin-top: 40px;
    height: 8rem;
    width: 16rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;    
    border: solid 1px var(--grayBorder);
    text-align: center;
}


.cards-sections-header-container {
    margin: 0 20px 0 20px;
    display: flex;
    height: 50%;
    text-align: start;
}
.cards-sections-header-container h1 {
    width: 90%;
    align-self: center;
    justify-self: start;
    color: var(--black);  
    font-weight: 700;   
    font-size: 1.3rem;
    letter-spacing: -.8px;
}
.header-container-icon {
    width: 10%;
    align-self: center;
    justify-self: end;
    stroke: var(--mainColor);
    width: 20px;
    height: 20px;
}

.btn-Sections:link,
.btn-Sections:visited {
    display: inline-block;
    width: 9rem;
    padding: 6px 2px;
    margin: 5px auto 0 auto;
    border-radius: 10px;
    background: linear-gradient(to top left, var(--mainColor) 20%, #a5d8ff);
    box-shadow: 5px 7px 15px 2px rgba(116, 177, 235, 0.45);
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0px;
}
.btn-Sections:hover {
    cursor: pointer;
    background: linear-gradient(to top left, #2285db 20%, #a8d8fc);
    box-shadow: 5px 7px 15px 2px rgba(116, 177, 235, 0.47);
}









/* SECTION TOPBAR */
.top-bar {
    position: fixed;
    top: 10px;
    left: 50%;  
    transform: translateX(-50%);
    width: 75vw;
    height: 3rem;
    margin: 0;
    border-radius: 12px;
    border: solid 1px var(--borderCards);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.085);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;    
}

.top-bar-Back {
    position: fixed;
    top: 10px;
    left: 20px;  
    width: 3rem;
    height: 2.5rem;
    margin: 0;
    border-radius: 8px;
    border: solid 1px var(--borderCards);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    text-align: center; 
}
.top-bar-Back a {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    align-self: center;
}
.top-bar-Back svg {
    margin: 0 0;
}


.icon-back,
.icon-dark,
.icon-search {
    margin-bottom: 5px;
    stroke: var(--iconTopBar);
    width: 24px;
    height: 24px;
}
.icon-light {
    margin-bottom: 5px;
    stroke: var(--iconTopBar);
    width: 24px;
    height: 24px;
}

.btn-BackSections, 
.btn-BackHome {
    width: 2.1rem;
    display: inline-block;
    text-decoration: none;
    margin: .5rem 0 0 1rem;
}
.btn-Dark {
    display: inline-block;
    text-decoration: none;
    margin: .5rem 1rem 0 0;    
    border: none;
    background-color: transparent;
}
.btn-Light {
    display: inline-block;
    text-decoration: none;
    margin: .5rem 1rem 0 0;    
    border: none;
    background-color: transparent;
}

.btn-Search {
    display: inline-block;
    text-decoration: none;
    margin: .5rem 1rem 0 0;
    justify-self: end;
    border: none;
    background-color: transparent;
    transition: all 0.4s;
}







/* ICON HEADER SECTION */
.section-icon {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-section {
    stroke: var(--mainColor);
    width: 36px;
    height: 36px;
    text-align: center;
}

.searchBar {
    margin-top: .7rem;
    margin-bottom: -1rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#finder {
    width: 57vw;
    padding: 8px 14px;
    outline: none;
    border: 2px solid var(--grayBorder);
    border-radius: 100px;
    background-color: var(--white);
    color: var(--black);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

#finder:focus {
    border: 2px solid var(--mainColor);
}







/* INTRODUCTION CARD */
.section-cards {
    margin-top: 24px;
    overflow-x: hidden;
    height: auto;
}

.card-introduction {
    margin-top: 1.5rem;
    padding: 0;
    display: block;
    width: 21rem;
    height: 31.2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 5px 15px 15px rgba(0, 0, 0, 0.03);
    color: var(--black);
}

.header-introduction {
    padding: 48px 10px 0 10px;
    height: 45%;
    background: linear-gradient(180deg, var(--mainColor), var(--white));
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header-introduction h1 {
    text-align: center;
    font-size: 2.75rem;
    line-height: 1;
    color: var(--white);
    letter-spacing: -1px;
}

.card-introduction p {
    margin: -20px 0 10px 0;
    padding: 0 30px 0 30px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.6;
}

.card-introduction-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-introduction-icon {
    fill: #20c997;
    width: 36px;
    height: 36px;
}




/* SLANGS CARD */
.card-slang {
    margin-top: 2.2rem;
    padding: 22px 2px 10px 2px;
    display: block;
    width: 21rem;
    height: 12rem;
    background-color: var(--white);
    border: 1px solid var(--borderCards);
    border-radius: 1rem;
    box-shadow: 0 5px 4px 6px rgba(0, 0, 0, 0.02);
    color: var(--black);
}

.card-slang h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
    background: linear-gradient(180deg, var(--mainColor)45%, var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: -5px 0 0px 0;
}

.card-slang h4 {
    font-size: 1.14rem;
    letter-spacing: -0.5px;
    -webkit-user-select: none;
    user-select: none;
}

.card-slang p {
    font-size: 1.05rem;
}

.card-slang li {
    margin-top: 2.3rem;
}

.list-header {
    display: flex;    
    align-items: center;
    gap: 8px;
    margin: -22px 0 10px 0;
}

.card-icon {
    stroke: var(--mainColor);
    width: 22px;
    height: 22px;
}








/* SLIDER TIPS */

.sliderTips {
    grid-column: 1/-1;
    width: 100%;
    overflow-x: scroll;
    margin-top: 0rem;
    height: 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.sliderTips::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sliderTips::-webkit-scrollbar:horizontal {
    height: 7px;    
}

.sliderTips::-webkit-scrollbar-thumb {
    background-color: #0000002d;
    border-radius: 10px;
}

.sliderTips::-webkit-scrollbar-track {
    border-radius: 48px;  
    margin-left: 2rem;
}

.tip {
    color: var(--white);
    margin: 0 1.2rem 0 1.2rem;
    padding: .8rem .9rem 0 .9rem;
    height: 12rem;
    width: 17rem;
    background: linear-gradient(to top right, var(--mainColor), #4dabf7);
    border-radius: 18px;
    user-select: none;
}

.tip p {
    padding-top: .6rem;
    margin: 0 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--white);
}

.header-tip {
    width: 100%;
    height: 22%;
    display: flex;
    align-items: center;
}
.header-tip h1 {
    margin-left: .5rem;
    width: 85%;
    text-align: start;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}
.icon-tip {
    stroke: var(--white);
    width: 1.5rem;
    justify-self: flex-end;
}


footer {
    width: 90%;
    margin: 150px auto 0 auto;
    height: 2rem;
    text-align: center;
    color: var(--black);
}


.filter {        
    display: none;
}


.fade_up {
    transform: translateY(20%);
}
.aparece {
    opacity: 1;
    transform: none;
}