@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
/*
 * author: Valencia Arcega Luis Angel
 * icons by: ionic.io
 * SPACING SYSTEM (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 * FONT SIZE SYSTEM (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

:root {
  --mainColor: #1c7ed6;
  /* 76ACDC : tint  1665ab : shade */
  --white: #fff;
  --black: #121212;
  --grayBackground: #f2f2f7;
  --iconTopBar: #181818;
  --grayBorder: #d9d9d9;
  --tester: #353535;
  --borderCards: transparent;

  --finderColor: #d9d9d9;
}

::selection {
  color: var(--white);
  background-color: var(--mainColor);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--mainColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--grayBackground);
}

button, input {
  font-family: 'Inter', sans-serif;
}
input {
  caret-color: red;
}

/* topBar */
.topBar {
  height: 3.3rem;
  width: 17rem;
  margin: 0;
  padding-top: 2px;
  /* border: solid 1px var(--borderCards); */
  border-radius: 12px;
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
}

.topBar-anker-backHome {
  margin-top: -2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.topBar-btn-svg {
  font-size: 24px;
  color: var(--mainColor);
}

.topBar-anker-svg {
  font-size: 24px;
  color: var(--mainColor);
}

.topBar-anker-p,
.topBar-btn-p {
  font-family: 'Inter';
  font-size: 12px;
  margin-top: -3px;
  color: var(--mainColor)
}

.topBar-btnSearch,
.topBar-btnDark,
.topBar-btnLight {
  margin-top: -2px;
  border: none;
  background-color: transparent;
}




/* //////////////////////////////////// */

.downBar {
  height: 3.3rem;
  width: 100%;
  margin: 0;
  padding-top: 2px;
  border: solid 1px var(--borderCards);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: rgb(212, 212, 212);
}

.hidden {
  display: none;
}