@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
/*
 * author: Valencia Arcega Luis Angel
 * icons by: ionic.io
 * SPACING SYSTEM (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 * FONT SIZE SYSTEM (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

:root {
  --mainColor: #1c7ed6;
  /* 76ACDC : tint  1665ab : shade */
  --white: #fff;
  --black: #121212;
  --grayBackground: #f2f2f7;
  --iconTopBar: #181818;
  --grayBorder: #d9d9d9;
  --tester: #353535;
  --borderCards: transparent;

  --finderColor: #d9d9d9;
}

::selection {
  color: var(--white);
  background-color: var(--mainColor);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--mainColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--grayBackground);
}

button, input {
  font-family: 'Inter', sans-serif;
}
input {
  caret-color: red;
}

/* /////////////////////////////////////////////////////////////////*/
.container-titleHey {
  height: 40rem;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.titleHey {
  font-size: 7.5rem;
  font-weight: 700;
}

.gradient-text,
.titleHey {
  background: linear-gradient(180deg, var(--mainColor)20%, var(--black));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleHey p {
  margin-top: -12px;
  font-size: 4.3rem;
}

/* /////////////////////////////////////////////////////////////////*/
.container-welcomeIntroduction {
  padding: 11.65rem 0 15rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.welcomeIntroduction {
  width: 21rem;
}

.welcomeIntroduction-h1 {
  font-size: 2.75rem;
  letter-spacing: -1px;
  line-height: 1;
}

.welcomeIntroduction-p {
  margin-top: 1rem;
  font-size: 19px;
  line-height: 1.7;
}

.wrapper-ankerToCategories {
  margin-top: 1.65rem;
}

.ankerToCategories:link,
.ankerToCategories:visited {
  padding: 12px 38px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  background: linear-gradient(to top left, var(--mainColor) 15%, #a7c6ee);
  box-shadow: 0px 5px 8px 3px rgba(54, 128, 197, 0.25);
}

.ankerToCategories:hover {
  cursor: pointer;
  background: linear-gradient(to top left, #2285db 20%, rgb(180, 205, 237));
}

/* /////////////////////////////////////////////////////////////////*/
.cards,
.cardsPV {
  width: 100%;
  margin-top: 10px;
  display: grid;
  gap: 0 3.2rem;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-auto-flow: dense;
  justify-items: center;
}

.card {
  height: 31.6rem;
  width: 21rem;
  margin: 1.8rem 0;
  padding: 18px;
  border-radius: 16px;
  border: 1px solid var(--borderCards);
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 12px 12px 8px rgba(0, 0, 0, 0.018);
}

.card h1 {
  margin: 20px 0 40px 0;
  font-size: 2.7rem;
  letter-spacing: -1.2px;
  text-align: center;
  background: linear-gradient(180deg, var(--mainColor)45%, #121212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card h4 {
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}

ul li {
  margin: 45px 25px 10px 25px;
  list-style: none;
  letter-spacing: -.8px;
}

li p {
  font-size: 1rem;
  font-family: 'Inter';
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 1.5;
  display: inline;
}

.list-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-icon {
  height: 24px;
  width: 24px;
  stroke: var(--mainColor);
}

/* /////////////////////////////////////////////////////////////////*/
.container-exampleCard {
  padding: 48px 0 96px 0;
  background-color: rgb(15, 15, 15);
}

.container-exampleCard h2 {
  margin-bottom: -20px;
  font-size: 4rem;
  letter-spacing: -1.5px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(180deg, var(--mainColor), black 98.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-example {
  height: 31.5rem;
  width: 21rem;
  margin-top: 2.4rem;
  padding: 18px;
  border-radius: 22px;
  border: solid 2px #3b3b3b;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--white);
  background-color: var(--black);
}

/* /////////////////////////////////////////////////////////////////*/
.container-features {
  width: 90%;
  margin: 200px auto 0 auto;
  text-align: center;
}

.container-features-h2 {
  grid-column: 1/-1;
  font-size: 2.4rem;
  letter-spacing: -1px;
  text-align: center;
  color: var(--black);
}

.features {
  margin-top: 25px;
  display: grid;
  grid-gap: 24px 10px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
}


.feature {
  height: 11rem;
  width: 15rem;
  padding: 24px 20px;
  border: solid 1px var(--grayBorder);
  border-radius: 12px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--mainColor);
  background-color: #fff;
}

.feature-icon-svg {
  font-size: 28px;
  color: var(--mainColor);
}

.wrapper-featureText {
  display: flex;
  flex-direction: column;
}

.feature-h3 {
  letter-spacing: -.5px;
  color: var(--black);
}

.feature-p {
  line-height: 1.6;
  color: var(--black);
}

/* /////////////////////////////////////////////////////////////////*/
.container-sections {
  margin-top: 18rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.sections-h1 {
  font-size: 4rem;
  letter-spacing: -1.5px;
}

/* /////////////////////////////////////////////////////////////////*/
.wrapper-sections {
  width: 95%;
  margin-top: 12px;
  display: grid;
  gap: 36px 22px;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  text-align: start;
  align-items: center;
  justify-items: center;
}

.card-sections {
  height: 17rem;
  width: 20rem;
  border-radius: 10px;
  border: solid 1px var(--grayBorder);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
  position: relative;
}

.card-sections:first-child::after {
  content: '+2';
  padding: 3px 12px;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: 500;
  color: var(--white);
  background-color: #ff3131;
}
.card-sections:nth-child(2)::after {
  content: '+1';
  padding: 3px 12px;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: 500;
  color: var(--white);
  background-color: #ff3131;
}
.card-sections:nth-child(3)::after {
  content: 'New';
  padding: 3px 12px;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: 500;
  color: var(--white);
  background-color: #ff3131;
}
/* /////////////////////////////////////////////////////////////////*/
.card-sections-header {
  height: 24%;
  width: 80%;
  display: grid;
  grid-template-columns: 90% 1fr;
  align-items: center;
  text-align: justify;
}

.sections-header-h1 {
  width: 85%;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -1px;
  justify-self: start;
  align-self: center;
  color: var(--black);
}

.sections-header-icon {
  font-size: 24px;
  color: var(--mainColor);
  align-self: center;
  justify-self: center;
}

.card-sections-p {
  height: 47%;
  width: 81%;
  text-align: start;
  font-size: 1rem;
  line-height: 1.5;
}

.card-sections-anker:link,
.card-sections-anker:visited {
  width: 80%;
  margin-top: .75rem;
  padding: 10px 28px;
  border-radius: 8px;
  font-size: 17px;
  letter-spacing: 0px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background: linear-gradient(to top left, var(--mainColor) 20%, #a5d8ff);
  box-shadow: 5px 7px 15px 2px rgba(116, 177, 235, 0.35);
}

.card-sections-anker:hover {
  cursor: pointer;
  background: linear-gradient(to top left, #2285db 20%, #a8d8fc);
  box-shadow: 5px 7px 15px 2px rgba(116, 177, 235, 0.37);
}



/* topBar */
.topBar {
  height: 3.3rem;
  width: 17rem;
  margin: 0;
  padding-top: 2px;
  /* border: solid 1px var(--borderCards); */
  border-radius: 12px;
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
}

.topBar-anker-backHome {
  margin-top: -2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.topBar-btn-svg {
  font-size: 24px;
  color: var(--iconTopBar);
}

.topBar-anker-svg {
  font-size: 24px;
  color: var(--iconTopBar);
}

.topBar-anker-p,
.topBar-btn-p {
  font-family: 'Inter';
  font-size: 12px;
  margin-top: -3px;
  color: var(--iconTopBar)
}

.topBar-btnSearch,
.topBar-btnDark,
.topBar-btnLight {
  margin-top: -2px;
  border: none;
  background-color: transparent;
}





/* ICON HEADER SECTION */
.section-icon {
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-section {
  height: 36px;
  width: 36px;
  text-align: center;
  stroke: var(--mainColor);
}

.icon-section-svg {
  font-size: 36px;
  color: var(--mainColor);
}

.searchBar {
  width: 100%;
  margin-top: .7rem;
  margin-bottom: -1rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.searchBar-p {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 72, 72);
}
#finder {
  width: 18rem;
  padding: 8px 18px;
  border: 2px solid var(--grayBorder);
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  outline: none;
  color: var(--black);
  background-color: var(--white);
}

#finder:focus {
  border: 2px solid var(--mainColor);
}







/* INTRODUCTION CARD */
.section-cards {
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}


.list-header {
  margin: -22px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-icon {
  height: 22px;
  width: 22px;
  stroke: var(--mainColor);
}

.card-svg {
  font-size: 22px;
  color: var(--mainColor);
}

/* SLIDER TIPS */
.sliderTips {
  width: 100%;
  margin-top: 10px;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-auto-flow: dense; */
  justify-items: center;
}

.tip {
  height: 12rem;
  width: 18rem;
  padding: .8rem .8rem 0 .8rem;
  border-radius: 18px;
  color: var(--white);
  background: linear-gradient(to top right, #1c7ed6, #4dabf7);
}

.tip p {
  width: 100%;
  margin: 0 0;
  padding-top: .9rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: var(--white);
}

.header-tip {
  height: 22%;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-tip h1 {
  width: 85%;
  margin-left: .5rem;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: start;
  color: var(--white);
}

.tip-icon-svg {
  font-size: 1.6rem;
  justify-self: flex-end;
  color: var(--white);
}

/*
.sliderTips::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sliderTips::-webkit-scrollbar:horizontal {
  height: 8px;
}

.sliderTips::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0000002d;
}

.sliderTips::-webkit-scrollbar-track {
  margin-left: 2rem;
  border-radius: 48px;
}
*/


footer {
  height: 2rem;
  width: 90%;
  margin: 128px auto 0 auto;
  color: var(--black);
  text-align: center;
}


/*  Tools */
.title-transition {
  opacity: 0.1;
  transition: all 3.6s;
}

.word-transition {
  opacity: 0.3;
  transition: all 2.2s;
}

.hidden {
  display: none;
}


.fade_up {
  transform: translateY(20%);
}

.aparece {
  opacity: 1;
  transform: none;
}