<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- ICONS -->
  <link rel="icon" href="../assets/icons/favicon.png" />
  <link rel="apple-touch-icon" href="../assets/icons/icons/touch-icon.png" />
  <link rel="manifest" href="../../manifest.webmanifest" />
  <!-- IMPORTS -->
  <link href="../../public/main.css" rel="stylesheet" />
  <!-- SCRIPTS -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>  
  <title>Tolescro &mdash; Alternatives</title>
</head>

<body>
  <!--<section class="sliderTips">
      <tip-card card_title="" tip_description=''></tip-card>
      <tip-card card_title="" tip_description=''></tip-card>
      <tip-card card_title="" tip_description=''></tip-card>
    </section>

    <t-card cn='' pro='' es='' ex='"" ⇌ ""'></t-card>
    <s-card cn="" es="No problem ⇌ no hay problema"></s-card> 
-->

  <!-- ICON BEFORE SEARCHBAR -->
  <div class="section-icon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="icon-section">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
    </svg>
  </div>
  <!-- SEARCHBAR -->
  <div class="searchBar">
    <input type="text" name="finder" id="finder" placeholder="Search words, slangs and more">
  </div>
  <!-- CARDS -->
  <div class="section-cards">
    <div class="cards">

      <intro-card title="Welcome to words & more"
        description="Slangs utilizados en mensajes de texto y redes sociales. Palabras comunes con muchas variantes y frases usuales en hablantes nativos, por lo que no viene mal remplazarlas por lo clásico que enseñan en la escuela. ">
      </intro-card>

      <t-card cn='Within' pro='wi - din' es='Dentro / en (tiempo)'
        ex='"I called the ambulance, gonna arrive within 10 minutes" ⇌ "Llamé a la ambulancia, llegará dentro de 10 minutos."'></t-card>

      <t-card cn='Achievements' pro='ah - chiv - menths' es='Logros alcanzados'
        ex='"My best achievement have been to learn three languages" ⇌ "Mi mayor logro ha sido aprender tres idiomas"'></t-card>

      <t-card cn='Kidnap' pro='kid - nap' es='Secuestrar'
        ex='"Kidnapping are common on this country unfortunately" ⇌ "Desafortunadamente, los secuestros son comunes en este país"'></t-card>

      <t-card cn='Device' pro='Di - vais' es='Dispositivo'
        ex='"You should connect your device to energy" ⇌ "Deberías conectar tu dispositivo a la energía"'></t-card>

      <t-card cn='Data' pro='dei - ta' es='Datos'
        ex='"Esta aplicación esta robando mis datos" ⇌ "This application is stealing my data"'></t-card>

      <!-- TIPS ✅ -->
      <section class="sliderTips">
        <tip-card card_title="tip"
          tip_description="El Inglés es un idioma fonetico y no todas las palabras se pronuncian como se escriben">
        </tip-card>

        <tip-card card_title="tip"
          tip_description="En Español pronunciamos tal cual leemos, y resulta un tanto dificil dar el salto">
        </tip-card>

        <tip-card card_title="tip"
          tip_description="¡Animo!, ya hablas un idioma más dificil. El Inglés es 20% más fácil que el Español">
        </tip-card>
      </section>

      <t-card cn='Summary' pro='so - mha - rhi' es='Resumen'
        ex='"This is a lil summary of the videos that you saw this year" ⇌ "Este es un pequeño resumen de los videos que viste este año"'></t-card>

      <t-card cn='Assets' pro='asset / assets' es='Activos / bienes'
        ex='De alto valor o calidad:"She is an asset to the company" ⇌ "Ella es muy valiosa para la compañia"'></t-card>

      <t-card cn='Settings' pro='se - rings' es='Ajustes'
        ex='"U can turn on the dark mode on your smartphone settings" ⇌ "Puedes poner el modo obscuro en los ajustes de tu celular"'></t-card>

      <section class="sliderTips">
        <tip-card card_title="tip"
          tip_description='Diferencia entre "could" y "might", ambas palabras significan los mismo, pero...'></tip-card>

        <tip-card card_title="tip"
          tip_description='Might is used to express a lower level of possibility and is common in formal English'></tip-card>

        <tip-card card_title="tip"
          tip_description='Could is used to express past ability or high possibility and is common in informal English'></tip-card>
      </section>

      <t-card cn='Reminder' pro='rhi - main - dr' es='Recordatorio'
        ex='"I will do it. Lemme set a reminder in my phone" ⇌ "Lo haré. Déjame poner un recordatorio en mi teléfono"'></t-card>


      <t-card cn="I'm pissed off" pro="am  pisr - of" es="¡Estoy encabronad@!"
        ex='Sustituye a "I am so angry" y expresa coraje, de manera agresiva. "I am pissed at you" ⇌ "Estoy encabronado contigo" '>
      </t-card>

      <t-card cn="Environment" pro="in-vai-rn-mnt" es="Entorno, ambiente"
        ex='"My environment is full of people with good vibes" ⇌ "Mi entorno está lleno de gente con buena vibra"'>
      </t-card>

      <section class="sliderTips">
        <tip-card card_title="tip"
          tip_description='Diferencia entre "do" y "make", ambas palabras significan los mismo, pero...'></tip-card>

        <tip-card card_title="tip"
          tip_description='Do is used to describe actions or activities that involve a specific task or purpose'></tip-card>

        <tip-card card_title="tip"
          tip_description='While "Make" is used to describe the creation of something (imagination)'></tip-card>
      </section>

      <t-card cn="Just joshing" pro="yost  yosh - in" es="Solo bromeo"
        ex='Sustituye a "Just kidding" y dejar en claro que solo estas bromeando. "Nah Im just joshing u" ⇌ "Na te creas solo te estoy ch1ng@ndo"'>
      </t-card>

      <t-card cn="Inquisitive" pro="in - ki - sitiv" es="Preguntona, muy curiosa"
        ex='"Children are naturally inquisitive." ⇌ "Los niños son naturalmente curiosos."'>
      </t-card>

      <t-card cn="I'm bursting" pro="am  brs - tin" es="¡Me estoy haciendo del baño!"
        ex='Sustituye a "I have to go to the bathroom" pero de manera informal. "Yo, I am bursting!" ⇌ "Weey ¡Estoy cag$nd#me!"'>
      </t-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="homophones"
          tip_description="Los homófonos son palabras con la misma pronunciación, pero un significado distinto">
        </tip-card>

        <tip-card card_title="homophones"
          tip_description='Las palabras "Write", "Right" y "Rite(rito)" se pronuncian exactamente igual: rhait'>
        </tip-card>

        <tip-card card_title="homophones"
          tip_description='"Why" y la letra "Y" son homófonos, es común ver "y?" reemplazando a la pregunta'>
        </tip-card>
      </section>

      <!-- SLANGS  -->
      <s-card cn="btw" es="😬 By the way ⇌ por cierto"></s-card>

      <s-card cn="smh" es="🤦 Shaking my head ⇌ mover la cabeza con desaprobación "></s-card>

      <s-card cn="np" es="😌 No problem ⇌ no hay problema"></s-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="homophones"
          tip_description='Las palabras "by", "bye" y "buy" son homófonos, es decir, todas suenan: bai'>
        </tip-card>

        <tip-card card_title="homophones"
          tip_description='"2" y la palabra "too" son homófonos, y en escritura informal suelen sustituirse'>
        </tip-card>

        <tip-card card_title="homophones"
          tip_description='"eye" y el pronombre "I" son homófonos, es decir, ambas suenan igual: ay'>
        </tip-card>
      </section>

      <t-card cn="I'm starving" pro="am  s-tharvin" es="¡Muero de hambre!"
        ex='Sustituye a "I am so hungry", expresa un sentimiento de ansiedad por comer. "I wanna eat bruh Im starving" ⇌ "Quiero comer we, muero de hambre"'>
      </t-card>

      <t-card cn="Knowledge" pro="no - lech" es="Conocimiento"
        ex='"You are so brilliant, you must have a lotta knowledges" ⇌ "Eres tan brillante, debes tener muchos conocimientos."'>
      </t-card>

      <t-card cn="I would say" pro="ai - gud-sei" es="Yo diría"
        ex='Sustituye a "I think", se usa antes de dar una opinión. "I would say lets do homework first" ⇌ "Yo diría que primero hagamos la tarea"'>
      </t-card>

      <!-- TIPS ✅ -->
      <section class="sliderTips">
        <tip-card card_title="tip"
          tip_description="Puedes agregar un icono de cualquier sección de Tolescro en tu pantalla de inicio 📱">
        </tip-card>

        <tip-card card_title="tip"
          tip_description='Ve al menu del navegador y da click en la opción "Agregar icono a pantalla de inicio"'>
        </tip-card>

        <tip-card card_title="😁"
          tip_description='Listo tendras un acceso directo, esto lo puedes hacer con cualquier sección'>
        </tip-card>
      </section>

      <!-- SLANG  -->
      <s-card cn="pls" es="🙏 Please ⇌ por favor"></s-card>

      <s-card cn="thx" es="😊 Thanks ⇌ gracias"></s-card>

      <s-card cn="rn" es="👇 Right now ⇌ ahora mismo"></s-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">

        <tip-card card_title="homophones"
          tip_description='La letra "U" y la palabra "you" son homófonos, de manera informal suelen sustituirse'>
        </tip-card>

        <tip-card card_title="homophones"
          tip_description='Las palabras "Good" y "Would" su pronunciación es exactamente igual: ghud'></tip-card>

        <tip-card card_title="homophones"
          tip_description='La palabra "hour" y la pertenencia "our(nuestro)" suenan igual: a-our'></tip-card>
      </section>

      <t-card cn="Do u get me?" pro="du yu get mi" es="¿Me entendiste?"
        ex='Sustituye a "Did you understand me?" de manera informal para preguntar si hemos sido claros "So...Do you get me, right?" ⇌ "Entonces... ¿Me entiendes, verdad?"'>
      </t-card>

      <t-card cn='Native' pro='nei - rif' es='Nativa, Nativo'
        ex='"I am a native Spanish speaker" ⇌ "Soy un hispanohablante nativo"'></t-card>

      <t-card cn="How u doin'?" pro="jau yu du-in" es="¿Cómo te va?"
        ex='Sustituye a "How are you?" y se usa para iniciar una platica con mayor confianza y de manera más amigable. "Hey dude how u doing?"'>
      </t-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="Cognates"
          tip_description='Son palabras que se escriben o suenan similar en dos idiomas y significan lo mismo'>
        </tip-card>

        <tip-card card_title="False friends"
          tip_description='Son palabras que suenan o se escriben similar pero no significan lo mismo'>
        </tip-card>

        <tip-card card_title="False friends"
          tip_description='Actually ⇌ Realmente (NO actualmente) debido a que Actualmente ⇌ Currently'>
        </tip-card>
      </section>

      <t-card cn='Should' pro='sh - ud' es='Deberí a/mos/as/an/'
        ex='"It is too late, you should sleep rn" ⇌ "Ya es muy tarde, deberías dormir ahora mismo"'></t-card>

      <t-card cn='Could' pro='kh - ud' es='Podrí a/mos/as/an/'
        ex='"I could not do it either" ⇌ "Yo tampoco podría hacerlo", "She could get it" ⇌ "Ella podría conseguirlo"'>
      </t-card>

      <t-card cn='Would' pro='gh - ud' es='ría / haría'
        ex='"I would like score a goal in the world cup" ⇌ "Me gustaría anotar un gol en el mundial"'></t-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="tip"
          tip_description='"Ya" suele ser otra manera informal de escribir o decir al pronombre "you"'>
        </tip-card>

        <tip-card card_title="tip"
          tip_description='Recuerda que los idiomas no se traducen literalmente. Algunas palabras si...'></tip-card>

        <tip-card card_title="tip"
          tip_description='pero algunas expresiones dependen de la cultura del pais o el contexto del idioma'>
        </tip-card>
      </section>

      <!-- SLANG  -->
      <s-card cn="lil" es="🤏 Little ⇌ Pequeñ@"></s-card>

      <s-card cn="jk" es="😂 Just kidding ⇌ solo bromeo"></s-card>

      <s-card cn="ngl" es="🤷 Not gonna lie ⇌ no voy a mentir"></s-card>

      <t-card cn="Overview" pro="ow - vr - viu" es="Vistazo / Vista general"
        ex='"Imma give u a lil overview to the project" ⇌ "Voy a darte una pequeña descripción general del proyecto."'>
      </t-card>

      <t-card cn='Enhance' pro='in - hans' es='Incrementar / Intensificar'
        ex='"I want to enhance my English, to talk with native speakers" ⇌ "Quiero mejorar mi Inglés para platicar con hablantes nativos"'>
      </t-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="False friends"
          tip_description='Advice ⇌ Consejo (NO confundir con: aviso) debido a que Aviso ⇌ Warning'>
        </tip-card>

        <tip-card card_title="False friends"
          tip_description='Conductor ⇌ Director de orquesta (NO: conductor) ya que Conductor ⇌ Driver'>
        </tip-card>

        <tip-card card_title="False friends"
          tip_description='Dude ⇌ Amigo (NO confundir con: duda) debido a que Duda ⇌ Doubt(da-uth)'>
        </tip-card>
      </section>

      <t-card cn='I Thought' pro='thot "saca el aire, con la lengua pegada a los dientes de arriba"' es='Pensé'
        ex='"He thought he could do it" ⇌ "El pensó que podría hacerlo"'></t-card>

      <!-- SLANG  -->
      <s-card cn="nvm" es="Never mind ⇌ No importa, olvidalo"></s-card>

      <s-card cn="fr" es="For real ⇌ De verdad"></s-card>

      <s-card cn="tbh" es="To be honest ⇌ para ser honest@"></s-card>

      <t-card cn='Commitment' pro='co - mid - ment' es='Compromiso / Dar tu palabra'
        ex='"I am sorry, I already have a commitment to my family" ⇌ "Lo siento, ya tengo un compromiso con mi familia"'>
      </t-card>

      <t-card cn='Between' pro='bi - thuin' es='Entre / en medio de'
        ex='"Guess her/his age, is between 18 and 27" ⇌ "Adivina su edad, es entre 18 y 27"'></t-card>

      <t-card cn='Effortless' pro='eforh - les' es='Sin mayor esfuerzo / Poco esfuerzo / Sin esfuerzo aparente'
        ex='"I made no efforless to bench 225lb" ⇌ "No hice ningún esfuerzo para levantar 115kg"'></t-card>

      <!-- TIPS✅ -->
      <section class="sliderTips">
        <tip-card card_title="False friends"
          tip_description='Groceries ⇌ Comestibles (NO groserias) debido a que Groserias ⇌ Rudeness'></tip-card>

        <tip-card card_title="False friends"
          tip_description='Advice ⇌ Consejo (NO confundir con aviso) debido a que Aviso ⇌ Warning / Ad'></tip-card>

        <tip-card card_title="False friends"
          tip_description='Exit ⇌ Salir de / La salida (NO confundir con éxito) debido a que Éxito ⇌ Success'></tip-card>
      </section>

      <!-- SLANG  -->
      <s-card cn="lmfao" es="🤣 Laughing my fr3@king ass off ⇌ me cago de la risa"></s-card>

      <s-card cn="hbd" es="🎁 Happy birthday ⇌ Feliz cumpleaños"></s-card>

      <s-card cn="wdym?" es="🤔 What do you mean? ⇌ ¿A que te refieres?, ¿Qué quieres decir?">
      </s-card>

      <t-card cn='Storage' pro='s - to - rech' es='Almacenamiento'
        ex='"The storage in my cellphone is completely full" ⇌ "El almacenamiento en mi celular está completamente lleno"'>
      </t-card>

      <t-card cn='Measure' pro='me - shu - r' es='Medida'
        ex='"The measure of earth can be measured in Kilometers" ⇌ "La medida de la tierra se puede medir en kilómetros"'>
      </t-card>

      <t-card cn='Through' pro='thru' es='A través de / Mediante'
        ex='"I sent you a gift through delivery" ⇌ "Te envié un regalo mediante paqueteria"'></t-card>

      <!-- SLANG  -->
      <s-card cn="wyd?" es="What you doing? ⇌ ¿Qué haces?"></s-card>

      <s-card cn="lmk" es="😉 Let me know ⇌ Házmelo saber"></s-card>

      <s-card cn="idts" es="🤔 I donot think so ⇌ No lo creo, no pienso lo mismo"></s-card>

      <t-card cn='Throw' pro='dhrow' es='Arrojar / Lanzar'
        ex='"Patrick throwed a perfect pass on second half" ⇌ "Patrick lanzó un pase perfecto en la segunda mitad"'>
      </t-card>

      <t-card cn='Though' pro='dho' es='Aunque / Sin embargo'
        ex='"I am into him/her, though he makes me angry sometimes" ⇌ "Me gusta, aunque a veces me hace enojar"'>
      </t-card>

      <t-card cn='Improve' pro='im - pruv' es='Mejorar / Aumentar'
        ex='"I love English and i work hard to improve my knowledge" ⇌ "Me encanta el inglés y trabajo duro para mejorar mis conocimientos."'>
      </t-card>

      <!-- SLANG -->
      <s-card cn="Tryna" es="Trying to ⇌ Tratando de..."></s-card>

      <s-card cn="Hafta" es="Have to ⇌ Tener que..."></s-card>

      <s-card cn="Outta" es="Out of ⇌ Fuera de..."></s-card>

      <t-card cn='Behavior' pro='bi - hey -viur' es='Comportamiento / Conducta'
        ex='"Your behavior is disgusting, calm down" ⇌ "Tu comportamiento es desagradable, cálmate"'></t-card>

      <t-card cn='Childhood' pro='cha - il - jud' es='Infancia'
        ex='"Not gonna lie, I had a lovely childhood" ⇌ "No lo negaré, tuve una infancia hermosa"'></t-card>

      <t-card cn='Weird' pro='wi - rd' es='Raro / Extraño'
        ex='"Bro dont get me wrong, but u are kinda weird" ⇌ "Wey no me malinterpretes, pero eres un poco rar@"'>
      </t-card>

      <!-- SLANG -->
      <s-card cn="Gonna" es="Going to ⇌ Voy a / vas a / va a / van a"></s-card>

      <s-card cn="Kinda" es="Kind of ⇌ Más o menos"></s-card>

      <s-card cn="Imma" es="Im gonna ⇌ Voy a..."></s-card>

      <t-card cn='Naturally' pro='na - chr - li' es='Naturalmente'
        ex='"She/He has naturally curly hair" ⇌ "Ella/El tiene el cabello naturalmente rizado."'></t-card>

      <t-card cn='Brilliant' pro='bri - liant' es='Brillante'
        ex='"Yea u right, u are so brilliant!" ⇌ "Sí, tienes razón, eres tan brillante."'></t-card>

      <t-card cn='Vibes' pro='va - ibs' es='Vibras'
        ex='"I send my good vibes to the Mexican team in the World Cup" ⇌ "Le mando mis buenas vibras a la seleccion Mexicana en el mundial"'>
      </t-card>

      <!-- SLANG -->
      <s-card cn="Wanna" es="Want to ⇌ Quiero/es, quiere/n / queremos"></s-card>

      <s-card cn="Gotta" es="Have got to ⇌ Tener que"></s-card>

      <s-card cn="Gimme" es="Give me ⇌ Dame (un minuto, tiempo, la oportunidad. etc.)"></s-card>

      <t-card cn="By all means" pro="bye ol mins" es="Por supuesto / Claro que si"
        ex='Sustituye a "yes, of course" o "sure". "By all means! I will be there, just just lemme know" ⇌ "Por supuesto que estaré ahí, solo hazmelo saber"'>
      </t-card>

      <t-card cn="Lovely" pro="lof-li" es="Encantador/a, precioso/a "
        ex='Sustituye a "beautiful" y describe algo es lindo o se ve bien. "Oh thank u, u are so lovely" ⇌ "Oh gracias eres tan encantador/a"'>
      </t-card>

      <t-card cn='Likewise' pro='laik-guais' es='Asimismo'
        ex='Sustituye a "also". de manera más formal. "Likewise, we must deliver it signed" ⇌ "Así mismo, debemos entregarla firmada"'>
      </t-card>

      <!-- SLANG -->
      <s-card cn="Lemme" es="Let me ⇌ Déjame (mostrarte, adivinar, ver, probar, etc.)"></s-card>

      <s-card cn="Dunno" es="🤔 Donot know ⇌ No lo se / sabemos / saben / sabes / sabe"></s-card>

      <s-card cn="Lotta" es="Lot of ⇌ Mucho / Bastante de..."></s-card>

      <t-card cn='However' pro='jauever' es='Sin embargo'
        ex='Sustituye a "but" a manera más formal. "I love code, however, is complicated" ⇌ "Me encanta programar, sin embargo, es complicado."'>
      </t-card>

      <t-card cn="Wallpaper" pro="guol - peipr" es="Fondo de pantalla"
        ex='"Hey babe, look at my new wallpaper, It is you!" ⇌ "Oye nena, mira mi nuevo fondo de pantalla, ¡Eres tú!"'>
      </t-card>

      <div class="card-building">
        <lord-icon src="https://cdn.lordicon.com/fcrbbplx.json" trigger="loop" colors="primary:#f2f2f7" state="hover"
          style="width:48px;height:48px">
        </lord-icon>
        <h6>Creando</h6>
        <p>¡Nuevas cartas vendrán pronto!</p>
      </div>

    </div> <!-- cards -->
  </div>

  <footer>&copy; 2022, Tolescro</footer>

  <class-alterwords></class-alterwords>

  <!-- NAVBAR -->
  <top-bar src="../../index.html#welcom3"></top-bar>

  <script src="../components/navBar/topBar.js"></script>
  <script src="../components/appearance/appearance.js"></script>
  <script src="../components/finder/filterCards.js"></script>
  <script src="../components/cards/introduction.js"></script>
  <script src="../components/cards/tCard.js"></script>
  <script src="../components/cards/tip.js"></script>
  <script src="../components/cards/sCard.js"></script>
  <script src="../components/pages/alterWords.js"></script>
</body>

</html>