<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- ICONS -->
  <link rel="icon" href="../../src/assets/icons/favicon.png">
  <link rel="apple-touch-icon" href="../../src/assets/icons/touch-icon.png" />
  <link rel="manifest" href="../../manifest.webmanifest" />
  <!-- IMPORTS -->
  <link href="../../public/main.css" rel="stylesheet">
  <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
  <title>Tolescro &mdash; Phrasal Verbs</title>
</head>

<body>

  <div class="section-icon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="icon-section">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
    </svg>
  </div>

  <div class="searchBar">
    <input type="text" name="finder" id="finder" placeholder="Search phrasal verbs">
  </div>

  <div class="section-cards">
    <div class="cards">
      <!-- 
<t-card cn='' pro='' es='' ex='"" ⇌ ""'></t-card> 
como pronunciar  si soy hispanohablante
      -->
      <intro-card title="Welcome to phrasal verbs"
        description="Son frases acompañadas de un verbo, pero su significado no siempre tiene relación con el, son más informales pero ayudan a mejorar nuestra manera de expresarnos y sonar más naturales.">
      </intro-card>

      <t-card cn='Cut in' pro='coth in' es='Interrumpir, cortar'
        ex='"Oh sorry if I cutting in, I gotta go right now!" ⇌ "¡Oh, lo siento si interrumpo, tengo que irme ahora mismo!"'></t-card>

      <t-card cn='Work out' pro='wuork aut' es='Ejercicio físico / Entrenamiento'
        ex='"Sorry I wont be able to come to the party. I have to work out, today is legs day" ⇌ "Lo siento, no podré ir a la fiesta. Tengo que hacer ejercicio, hoy es día de pierna"'></t-card>

      <t-card cn='Warm up' pro='guarm up' es='Calentamiento'
        ex='"I did not warm up enough before work out, and now I got injured" ⇌ "No calenté lo suficiente antes de hacer ejercicio y ahora me lesioné"'></t-card>

      <t-card cn='Tell off' pro='thel of' es='Regañar'
        ex='"Ima tell u off when we get home" ⇌ "Vas a ver cuando lleguemos a la casa"'></t-card>

      <t-card cn='Keep away' pro='kip awey' es='Alejar, mantener alejado'
        ex='"I have to keep she away, cuz she just hurts me" ⇌ "Tengo que mantenerla alejada, porque solo me hace daño"'></t-card>

      <t-card cn='Come from' pro='khom  from' es='Ser originario de'
        ex='"He does not speak spanish because he comes from abroad" ⇌ "El no habla español porque viene del extranjero"'></t-card>

      <t-card cn='Give in' pro='Giv in' es=' Rendirse / Darse por vencido'
        ex='"I cannot do that, Imma just give in Im sorry" ⇌ "No puedo hacerlo, voy a rendirme lo siento"'></t-card>

      <t-card cn='Keep on' pro='kip on' es='Seguir, continuar'
        ex='"U must to keep on working hard to grow yourself" ⇌ "Debes seguir trabajando duro para crecer"'></t-card>

      <t-card cn='Give away' pro='Giv awey' es='Donar / Regalar'
        ex='"My sister gave money away to help abandoned puppies" ⇌ "Mi hermana donó dinero para ayudar a cachorritos abandonados"'></t-card>

      <t-card cn='Keep up' pro='Kip op' es='Mantenerse al día'
        ex='"I have to keep up, cuz the technology never stop" ⇌ "Tengo que mantenerme al día, porque la tecnología nunca se detiene"'></t-card>

      <t-card cn='Carry out' pro='kerhi  auth' es='Llevar a cabo '
        ex='"The company is carrying out a restructuring plan to improve efficiency" ⇌ "La compañía está llevando a cabo un plan de reestructuración para mejorar la eficiencia"'></t-card>

      <t-card cn='Find out' pro='faind  auth' es='Averiguar / enterarse'
        ex='"My mom found out that I am pregnant" ⇌ "Mi mamá se enteró que estoy embarazada"'></t-card>

      <t-card cn='Bring up' pro='bring  op' es='Criar / educar'
        ex='"I will bring up my child, as my father brought me up" ⇌ "Criaré a mi hijo, como me crió mi padre"'></t-card>

      <t-card cn='Carry off' pro='ke - rhi  of' es='Lograr algo / Tener éxito'
        ex='"The thief managed to carry off the money without anyone noticing" ⇌ "El ladrón logró llevarse el dinero sin que nadie se diera cuenta"'></t-card>

      <t-card cn='Answer back' pro='an - sr bakh' es='Responder de mala gana'
        ex='"Her son answered her back" ⇌ "Su hijo le contestó de mala gana / groser@"'></t-card>

      <t-card cn='Burn out' pro='brn - auth' es='Hartarse de hacer algo'
        ex='"I just coded a lot, therefore I burn out" ⇌ "He estado mucho tiempo programando, ya me fastidie"'></t-card>

      <t-card cn="Hold on" pro="jhol - don" es="Aguanta / Espera"
        ex='"Hold on I am tryna pay attention" ⇌ "Espera estoy tratando de poner atención"'></t-card>

      <t-card cn="Show off" pro="sho - u of" es="Presumir, alardear sobre algo"
        ex='"Ranks doesnot matter at all, stop to Show off them" ⇌ "Las calificaciones no son del todo importantes, deja de presumir"'>
      </t-card>

      <t-card cn="Hang out" pro="jan - gaut" es="Pasar el rato"
        ex='"I wanna hang out with my friends" ⇌ "Quiero pasar tiempo con mis amigos"'></t-card>

      <t-card cn='Break out' pro='bre - ik aut' es='Escaparse'
        ex='"The prisoners broke out of jail when nobody looking" ⇌ "Los prisioneros escaparon de la cárcel cuando nadie miraba"'>
      </t-card>

      <t-card cn="Ask out" pro="ask auth" es="Invitar a una cita"
        ex='"She wanted to Ask him out however is too shy" ⇌ "Ella quería invitarlo a salir, sin embargo es demasiado tímida"'>
      </t-card>

      <t-card cn="Back up" pro="bak op" es="Respaldar información"
        ex='"You must Back up important documents on your computer" ⇌ "Debes hacer una copia de seguridad de los documentos importantes en tu pc"'>
      </t-card>

      <t-card cn='Bitch up' pro='bich op' es='Arruinar algo'
        ex='"I just bitched up the interview, was terrible" ⇌ "Arruiné / Jodí la entrevista, fue terrible"'>
      </t-card>

      <t-card cn='Block off' pro='blok of' es='Obstruir la salida para evitar que alguien se vaya'
        ex='"The firemen Blocked off the building after the fire" ⇌ "Los bomberos bloquearon el edificio tras el incendio"'>
      </t-card>

      <t-card cn='Book in' pro='buk in' es='Reservar en un hotel'
        ex='"I took a taxi from the airport to the hotel and Booked in." ⇌ "Tomé un taxi desde el aeropuerto hasta el hotel y reservé."'>
      </t-card>

      <t-card cn='Call up' pro='khal up' es='Llamar / Marcar por teléfono'
        ex='"I Called her up as soon as I got my phone" ⇌ "La llamé tan pronto como obtuve mi teléfono."'>
      </t-card>

      <t-card cn='Calm down' pro='kalm daun' es='Relajarse / Bajar el enojo'
        ex='"You need to calm down, you are too angry" ⇌ "Necesitas calmarte, estás demasiado enojad@"'></t-card>

      <t-card cn='Carry on' pro='kerui on' es='Continuar / Proseguir'
        ex='"You have to carry on with your exam, until the teacher comes" ⇌ "Tienes que continuar con tu examen, hasta que venga la/el profesor/a."'>
      </t-card>

      <t-card cn='Break up' pro='bre - ik up' es='Terminar una relación'
        ex='"We broke up before get back college" ⇌ "Rompimos antes de volver a la universidad"'></t-card>

      <div class="card-building">
        <lord-icon src="https://cdn.lordicon.com/fcrbbplx.json" trigger="loop" colors="primary:#f2f2f7" state="hover"
          style="width:48px;height:48px">
        </lord-icon>
        <h6>Creando</h6>
        <p>¡Nuevas cartas vendrán pronto!</p>
      </div>

    </div>
  </div>

  <footer>&copy; 2022, Tolescro</footer>

  <top-bar src="../../index.html#welcom3"></top-bar>

  <script src="../components/navBar/topBar.js"></script>
  <script src="../components/appearance/appearance.js"></script>
  <script src="../components/finder/filterCards.js"></script>
  <script src="../components/cards/introduction.js"></script>
  <script src="../components/cards/tCard.js"></script>
  <script src="../components/pages/phrasalVerbs.js"></script>
</body>

</html>