<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKZD3QGJW5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-EKZD3QGJW5');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- ICONS -->
  <link rel="icon" href="../../src/assets/icons/favicon.png">
  <link rel="apple-touch-icon" href="../../src/assets/icons/touch-icon.png" />
  <link rel="manifest" href="../../manifest.webmanifest" />
  <!-- IMPORTS -->
  <link href="../../public/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">  
  <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
  <script src="../components/cards/introduction.js"></script>
  <script src="../components/cards/card.js"></script>
  <script src="../components/finder/filterCards.js"></script>
  <script src="../components/navBar/topBar.js"></script>
  <script src="../components/pages/phrasalVerbs.js"></script>
  <title>Tolescro &mdash; Phrasal Verbs</title>
</head>

<body>

  <top-bar src="../../index.html#welcom3"></top-bar>

  <div class="section-icon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="icon-section">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
    </svg>
  </div>

  <div class="searchBar">
    <input type="text" name="finder" id="finder" placeholder="Search phrasal verbs">
  </div>

  <div class="section-cards">
    <div class="cards">

      <intro-card title="Welcome to phrasal verbs"
        description="Son frases acompañadas de un verbo, pero su significado no siempre tiene relación con el, son más informales pero ayudan a mejorar nuestra manera de expresarnos y sonar más naturales.">
      </intro-card>

      <the-card card_name='Carry out' txt_pronuntiation='kerhi - auth' meaning_es='Llevar a cabo ' meaning='"The company is carrying out a restructuring plan to improve efficiency" ⇌ "La compañía está llevando a cabo un plan de reestructuración para mejorar la eficiencia"'></the-card> 

      <the-card card_name='Bring up' txt_pronuntiation='bring - op' meaning_es='Criar / educar 👨‍👩‍👧‍👦' meaning='"I will bring up my child, as my father brought me up" ⇌ "Criaré a mi hijo, como me crió mi padre"'></the-card> 

      <the-card card_name='Carry off' txt_pronuntiation='kerhi - of' meaning_es='Lograr algo / Tener éxito ✅' meaning='"The thief managed to carry off the money without anyone noticing" ⇌ "El ladrón logró llevarse el dinero sin que nadie se diera cuenta"'></the-card> 

      <the-card card_name='Answer back' txt_pronuntiation='an - sr bakh' meaning_es='Responder de mala gana 😒' meaning='"Her son answered her back" ⇌ "Su hijo le contestó de mala gana / groser@"'></the-card> 

      <the-card card_name='Burn out' txt_pronuntiation='brn - auth' meaning_es='Hartarse de hacer algo 🥱'
        meaning='"I just coded a lot, therefore I burn out" ⇌ "He estado mucho tiempo programando, ya me fastidie"'></the-card>

      <the-card card_name="Hold on" txt_pronuntiation="jhol - don" meaning_es="Aguanta / Espera ⏱"
        meaning='"Hold on I am tryna pay attention" ⇌ "Espera estoy tratando de poner atención"'></the-card>

      <the-card card_name="Show off" txt_pronuntiation="sho - u of" meaning_es="Presumir, alardear sobre algo 😎"
        meaning='"Ranks doesnot matter at all, stop to Show off them" ⇌ "Las calificaciones no son del todo importantes, deja de presumir"'>
      </the-card>

      <the-card card_name="Hang out" txt_pronuntiation="jan - gaut" meaning_es="Pasar el rato 🍻"
        meaning='"I wanna hang out with my friends" ⇌ "Quiero pasar tiempo con mis amigos"'></the-card>

      <the-card card_name='Break out' txt_pronuntiation='bre - ik aut' meaning_es='Escaparse 🏃🏼‍♂️'
        meaning='"The prisoners broke out of jail when nobody looking" ⇌ "Los prisioneros escaparon de la cárcel cuando nadie miraba"'>
      </the-card>

      <the-card card_name="Ask out" txt_pronuntiation="ask auth" meaning_es="Invitar a una cita 💌"
        meaning='"She wanted to Ask him out however is too shy" ⇌ "Ella quería invitarlo a salir, sin embargo es demasiado tímida"'>
      </the-card>

      <the-card card_name="Back up" txt_pronuntiation="bak op" meaning_es="Respaldar información 📥"
        meaning='"You must Back up important documents on your computer" ⇌ "Debes hacer una copia de seguridad de los documentos importantes en tu pc"'>
      </the-card>

      <the-card card_name='Bitch up' txt_pronuntiation='bich op' meaning_es='Arruinar algo'
        meaning='"I just bitched up the interview, was terrible" ⇌ "Arruiné / Jodí la entrevista, fue terrible"'>
      </the-card>

      <the-card card_name='Block off' txt_pronuntiation='blok of'
        meaning_es='Obstruir la salida para evitar que alguien se vaya'
        meaning='"The firemen Blocked off the building after the fire" ⇌ "Los bomberos bloquearon el edificio tras el incendio"'>
      </the-card>

      <the-card card_name='Book in' txt_pronuntiation='buk in' meaning_es='Reservar en un hotel 🏨'
        meaning='"I took a taxi from the airport to the hotel and Booked in." ⇌ "Tomé un taxi desde el aeropuerto hasta el hotel y reservé."'>
      </the-card>

      <the-card card_name='Call up' txt_pronuntiation='khal up' meaning_es='Llamar / Marcar por teléfono'
        meaning='"I Called her up as soon as I got my phone" ⇌ "La llamé tan pronto como obtuve mi teléfono."'>
      </the-card>

      <the-card card_name='Calm down' txt_pronuntiation='kalm daun' meaning_es='Relajarse / Bajar el enojo'
        meaning='"You need to calm down, you are too angry" ⇌ "Necesitas calmarte, estás demasiado enojad@"'></the-card>

      <the-card card_name='Carry on' txt_pronuntiation='kerui on' meaning_es='Continuar / Proseguir'
        meaning='"You have to carry on with your exam, until the teacher comes" ⇌ "Tienes que continuar con tu examen, hasta que venga la/el profesor/a."'>
      </the-card>

      <the-card card_name='Break up' txt_pronuntiation='bre - ik up' meaning_es='Terminar una relación 💔'
        meaning='"We broke up before get back college" ⇌ "Rompimos antes de volver a la universidad"'></the-card>

      <div class="card-building">
        <lord-icon src="https://cdn.lordicon.com/fcrbbplx.json" trigger="loop" colors="primary:#f2f2f7" state="hover"
          style="width:48px;height:48px">
        </lord-icon>
        <h6>Creando</h6>
        <p>¡Nuevas cartas vendrán mañana!</p>
      </div>

    </div>
  </div>

  <footer>&copy; 2022, Tolescro</footer>
<!-- 
    <the-card card_name='' txt_pronuntiation='' meaning_es='' meaning='"" ⇌ ""'></the-card> 
-->
</body>

</html>