<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- ICONS -->
  <link rel="icon" href="../assets/icons/favicon.png" />
  <link rel="apple-touch-icon" href="../assets/icons/icons/touch-icon.png" />
  <link rel="manifest" href="../../manifest.webmanifest" />
  <!-- IMPORTS -->
  <link href="../../public/main.css" rel="stylesheet" />
  <!-- SCRIPTS -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <title>Tolescro &mdash; Global tips</title>
</head>

<body>

  <!-- ICON BEFORE SEARCHBAR -->
  <div class="section-icon">
    <ion-icon class="icon-section-svg" name="extension-puzzle-outline"></ion-icon>    
  </div>
  
  <!-- SEARCHBAR -->
  <div class="searchBar">
    <input type="text" name="finder" id="finder" placeholder="Search homophones and more">
  </div>

  <!-- CARDS -->
  <div class="section-cards">
    <section class="sliderTips">
      <!--  <tip-card card_title="" tip_description="">
      </tip-card> -->
    </section>
  </div>

  <footer>&copy; 2022, Tolescro</footer>

  <!-- NAVBAR -->
  <top-bar src="../../index.html#sections"></top-bar>

  <script src="../components/navBar/topBar.js"></script>
  <script src="../components/appearance/appearance.js"></script>
  <script src="../components/finder/filterCards.js"></script>
  <script src="../components/cards/card-tips.js"></script>
</body>

</html>