<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- ICONS -->
  <link rel="icon" href="../assets/icons/64-favicon.png" />
  <link rel="apple-touch-icon" href="../assets/icons/icons/144-touch-icon.png" />
  <!-- IMPORTS -->
  <link href="../../public/main.css" rel="stylesheet" />
  <!-- SCRIPTS -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <title>Tolescro &mdash; Alternatives</title>
</head>

<body>

  <!-- ICON BEFORE SEARCHBAR -->
  <div class="section-icon">
    <ion-icon class="icon-section-svg" name="swap-horizontal-outline"></ion-icon>
  </div>
  <!-- SEARCHBAR -->
  <div class="searchBar">
    <input type="text" name="finder" id="finder" placeholder="Search words, slangs and more">
  </div>
  <!-- CARDS -->
  <div class="section-cards">
    <div class="cards">

      <s-card cn="ngl" es="🤷 Not gonna lie ⇌ no voy a mentir"></s-card>

      <s-card cn="nvm" es="Never mind ⇌ No importa, olvidalo"></s-card>

      <s-card cn="fr" es="For real ⇌ De verdad"></s-card>

      <s-card cn="tbh" es="To be honest ⇌ para ser honest@"></s-card>

      <s-card cn="lmfao" es="🤣 Laughing my fr3@king ass off ⇌ me cago de la risa"></s-card>

      <s-card cn="hbd" es="🎁 Happy birthday ⇌ Feliz cumpleaños"></s-card>

      <s-card cn="wdym?" es="🤔 What do you mean? ⇌ ¿A que te refieres?, ¿Qué quieres decir?">
      </s-card>

      <s-card cn="wyd?" es="What you doing? ⇌ ¿Qué haces?"></s-card>

      <s-card cn="lmk" es="😉 Let me know ⇌ Házmelo saber"></s-card>

      <s-card cn="idts" es="🤔 I donot think so ⇌ No lo creo, no pienso lo mismo"></s-card>

      <s-card cn="Tryna" es="Trying to ⇌ Tratando de..."></s-card>

      <s-card cn="Hafta" es="Have to ⇌ Tener que..."></s-card>

      <s-card cn="Outta" es="Out of ⇌ Fuera de..."></s-card>

      <s-card cn="Gonna" es="Going to ⇌ Voy a / vas a / va a / van a"></s-card>

      <s-card cn="Kinda" es="Kind of ⇌ Más o menos"></s-card>

      <s-card cn="Imma" es="Im gonna ⇌ Voy a..."></s-card>

      <s-card cn="Wanna" es="Want to ⇌ Quiero/es, quiere/n / queremos"></s-card>

      <s-card cn="Gotta" es="Have got to ⇌ Tener que"></s-card>

      <s-card cn="Gimme" es="Give me ⇌ Dame (un minuto, tiempo, la oportunidad. etc.)"></s-card>

      <s-card cn="Lemme" es="Let me ⇌ Déjame (mostrarte, adivinar, ver, probar, etc.)"></s-card>

    </div>
  </div>

  <footer>&copy; 2022, Tolescro</footer>

  <!-- NAVBAR -->
  <top-bar src="../../index.html#sections"></top-bar>

  <script src="../components/navBar/topBar.js"></script>
  <script src="../components/appearance/appearance.js"></script>
  <script src="../components/finder/filterCards.js"></script>
  <script src="../components/cards/card-alternatives.js"></script>
</body>

</html>